<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .form-control {
      width: 45%;
      display: inline
    }
    a {
      cursor: pointer
    }
  </style>
</head>
<body>
<div id="app">
  <div id="main">
    <form class="form-horizontal" id="queryForm">

      <input name="pageNum" type="hidden" value="1"/>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="id">编号：</label>
        <div class="col-sm-3">
          <input class="form-control" id="id" name="id" type="text">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="productid">商品：</label>
        <div class="col-sm-3">
          <select class="form-control" id="productid" name="productid">
            <option value="-1">-- 请选择 --</option>
            <option :value="pro.id" v-for="pro in pros">{{ pro.productname }}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="userid">销售员：</label>
        <div class="col-sm-3">
          <select class="form-control" id="userid" name="userid">
            <option value="-1">-- 请选择 --</option>
            <option :value="user.id" v-for="user in users">{{ user.realname }}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="minprice">单价：</label>
        <div class="col-sm-3">
          <input class="form-control" id="minprice" name="minprice" placeholder="最小值" type="text"> -
          <input class="form-control" id="maxprice" name="maxprice" placeholder="最大值" type="text">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="minquantity">数量：</label>
        <div class="col-sm-3">
          <input class="form-control" id="minquantity" name="minquantity" placeholder="最小值" type="text"> -
          <input class="form-control" id="maxquantity" name="maxquantity" placeholder="最大值" type="text">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="beginTime">时间：</label>
        <div class="col-sm-3">
          <input class="form-control" id="beginTime" name="beginTime" placeholder="最小值" type="text"> -
          <input class="form-control" id="endTime" name="endTime" placeholder="最大值" type="text">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button @click="sale(1)" class="btn btn-primary" type="button">搜索</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button @click="reset()" class="btn btn-primary" type="button">重置</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button @click="show('#addmodal')" class="btn btn-success" type="button">新增</button>
        </div>
      </div>

    </form>

    <table border="1" class="table table-striped table-bordered table-hover" id="saleTable" style="text-align: center">
      <tr style="font-weight: bold;background: darkgrey">
        <td>编号</td>
        <td>商品</td>
        <td>销售员</td>
        <td>单价</td>
        <td>数量</td>
        <td>总价</td>
        <td>销售时间</td>
        <td colspan="2">操作</td>
      </tr>
      <tr v-for="sale in saleList">
        <td>{{ sale.id }}</td>
        <td>{{ sale.productname }}</td>
        <td>{{ sale.realname }}</td>
        <td>{{ sale.price }}</td>
        <td>{{ sale.quantity }}</td>
        <td>{{ sale.totalprice }}</td>
        <td>{{ sale.saledate }}</td>
        <td colspan="2">
          <button @click="update(sale.id)" class="btn btn-primary glyphicon glyphicon-pencil">编辑</button>
          <button @click="del(sale.id)" class="btn btn-danger glyphicon glyphicon-trash">删除</button>
        </td>
      </tr>
    </table>

    <nav aria-label="Page navigation">
      <ul class="pager">
        <li><a @click="sale(1)">首页</a></li>
        <li>
          <a @click="sale(prePage)">
            <span aria-hidden="true">上一页</span>
          </a>
        </li>
        <li :class="{active:navigatePage==pageNum}" v-for="navigatePage in navigatepageNums">
          <a @click="sale(navigatePage)">{{ navigatePage }}</a>
        </li>
        <li>
          <a @click="sale(nextPage)">
            <span aria-hidden="true">下一页</span>
          </a>
        </li>
        <li><a @click="sale(pages)">末页</a></li>
        <span style="margin-left: 20px">当前第{{ pageNum }}页/共{{ pages }}(共{{ total }}条数据)</span>
      </ul>
    </nav>
  </div>

  <div class="modal fade" id="addmodal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">新增商品</h4>
        </div>
        <div class="modal-body">
          <!--表单内容-->
          <form class="form-horizontal" id="addForm">

            <div class="form-group">
              <label class="col-sm-2 control-label">商品：</label>
              <div class="col-sm-10">
                <select class="form-control" name="productid">
                  <option value="-1">-- 请选择 --</option>
                  <option :value="pro.id" v-for="pro in pros">{{ pro.productname }}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="adduserid">销售员：</label>
              <div class="col-sm-10">
                <select class="form-control" id="adduserid" name="userid">
                  <option value="-1">-- 请选择 --</option>
                  <option :value="user.id" v-for="user in users">{{ user.realname }}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="addprice">单价：</label>
              <div class="col-sm-10">
                <input class="form-control" id="addprice" name="price" placeholder="价格" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="addquantity">数量：</label>
              <div class="col-sm-10">
                <input class="form-control" id="addquantity" name="quantity" placeholder="数量" type="text">
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button @click="close('#addmodal')" class="btn btn-default" type="button">关闭</button>
          <button @click="save()" class="btn btn-primary" type="button">保存</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="update_modal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">修改商品</h4>
        </div>
        <div class="modal-body">
          <!--表单内容-->
          <form class="form-horizontal" id="updateForm">
            <div class="form-group">
              <label class="col-sm-2 control-label">编号：</label>
              <div class="col-sm-10">
                <input :value="getSale.id" class="form-control" name="id" readonly="readonly" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="updateproductid">商品：</label>
              <div class="col-sm-10">
                <select class="form-control" id="updateproductid" name="productid" v-model="getSale.productid">
                  <option value="-1">-- 请选择 --</option>
                  <option :value="pro.id" v-for="pro in pros">{{ pro.productname }}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="updateuserid">销售员：</label>
              <div class="col-sm-10">
                <select class="form-control" id="updateuserid" name="userid" v-model="getSale.userid">
                  <option value="-1">-- 请选择 --</option>
                  <option :value="user.id" v-for="user in users">{{ user.realname }}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">单价：</label>
              <div class="col-sm-10">
                <input :value="getSale.price" class="form-control" name="price" placeholder="价格" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">数量：</label>
              <div class="col-sm-10">
                <input :value="getSale.quantity" class="form-control" name="quantity" placeholder="数量" type="text">
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button @click="close('#update_modal')" class="btn btn-default" data-dismiss="modal" type="button">关闭</button>
          <button @click="updateSave()" class="btn btn-primary" id="update_btn" type="button">保存</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
<script type="text/javascript">
  const app = new Vue({
    el: '#app',
    data: {
      total: 0,
      pages: 0,
      pageNum: 0,
      prePage: 0,
      nextPage: 0,
      navigatepageNums: [],
      saleList: [],
      pros: [],
      users: [],
      getSale: {id: 0, productid: 0, userid: 0, price: 0.0, quantity: 0}
    },
    methods: {
      sale(pn) {

        $("#queryForm [name=pageNum]").val(pn)

        $.get("http://localhost:8080/getByPage", $("#queryForm").serialize(), (data) => {
          this.pageNum = data.pageNum
          this.pages = data.pages
          this.prePage = data.prePage
          this.nextPage = data.nextPage
          this.navigatepageNums = data.navigatepageNums
          this.total = data.total
          this.saleList = data.list
        })
      },
      pro() {
        $.get("http://localhost:8080/getAllPro", (data) => {
          this.pros = data
        })
      },
      user() {
        $.get("http://localhost:8080/getAllUser", (data) => {
          this.users = data
        })
      },
      reset() {
        $("#queryForm")[0].reset()
      },
      show(modal) {
        $(modal).modal({backdrop: "static", keyboard: false})
      },
      close(modal) {
        $(modal).modal("hide")
      },
      save() {
        $.get("http://localhost:8080/add", $("#addForm").serialize(), (data) => {
          if (data == -2) {
            alert("库存不足!")
          } else if (data == 1) {
            alert("新增成功")
            $("#addmodal").modal("hide")
            this.sale(this.pageNum)
          } else {
            alert("失败!")
          }
        })
      },
      del(id) {
        if (confirm("确定要删除" + id + "号嘛？")) {
          $.ajax({
            url: "http://localhost:8080/del",
            type: "delete",
            data: "id=" + id,
            success: (data) => {
              if (data == 1) {
                alert("删除成功")
                this.sale(this.pageNum)
              } else {
                alert("删除失败")
              }
            }
          })
        }
      },
      update(id) {
        $("#update_modal").modal({backdrop: "static", keyboard: false})
        $.get("http://localhost:8080/getSale", "id=" + id, (data) => {
          this.getSale.id = data.id
          this.getSale.productid = data.productid
          this.getSale.userid = data.userid
          this.getSale.price = data.price
          this.getSale.quantity = data.quantity
        })
      },
      updateSave() {
        $.ajax({
          url: "http://localhost:8080/update",
          type: "put",
          data: $("#updateForm").serialize(),
          success: (data) => {
            if (data == -2) {
              alert("库存不足，请重新填写")
            } else if (data == 1) {
              alert("修改成功")
              $("#update_modal").modal("hide")
              this.sale(this.pageNum)
            } else {
              alert("修改失败")
            }
          }
        })
      }
    },
    created() {
      this.sale(1)
      this.pro()
      this.user()
    }
  })
</script>